.titlu{
    text-align:center;
    font-size:40px;
}


#container_cat {
    width:80%;
    display: flex;
    flex-wrap: wrap;
    margin:auto;
}

.row_cat {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.column_cat {
    width: 30%;
    height: 100px;
    background-color: #ddd;
}

.img-cat {
    background-image: url('../img/c_placivideo.png');
    background-size:cover;
}