
@{
    ViewBag.Title = "Categorii";
    Layout = "~/Views/_LayoutPage1.cshtml";
}



<div id="darklight" class="section">

    <div class="titlu">Categorii</div>


    <div id="container_cat">
        <div class="row_cat">

            <div class="col-md-4 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="~/img/c_placivideo.png" />

                    </div>
                    <div class="product-body">
                        <p class="product-category">Category</p>
                        <h3 class="product-name"><a href="#">Placi video</a></h3>

                    </div>

                </div>
            </div>


            <div class="col-md-4 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="~/img/c_procesoare.png" />

                    </div>
                    <div class="product-body">
                        <p class="product-category">Category</p>
                        <h3 class="product-name"><a href="#">Procesoare</a></h3>

                    </div>

                </div>
            </div>


            <div class="col-md-4 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="~/img/c_ram.png" />

                    </div>
                    <div class="product-body">
                        <p class="product-category">Category</p>
                        <h3 class="product-name"><a href="#">RAM</a></h3>

                    </div>

                </div>
            </div>


        </div>

        

        <div class="row_cat">

            <div class="col-md-4 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="~/img/c_hdd.png" />

                    </div>
                    <div class="product-body">
                        <p class="product-category">Category</p>
                        <h3 class="product-name"><a href="#">HDD</a></h3>

                    </div>

                </div>
            </div>


            <div class="col-md-4 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="~/img/c_pacidebaza.png" />

                    </div>
                    <div class="product-body">
                        <p class="product-category">Category</p>
                        <h3 class="product-name"><a href="#">Placi de baza</a></h3>

                    </div>

                </div>
            </div>


            <div class="col-md-4 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="~/img/c_coolere.png" />

                    </div>
                    <div class="product-body">
                        <p class="product-category">Category</p>
                        <h3 class="product-name"><a href="#">Coolere</a></h3>

                    </div>

                </div>
            </div>



        </div>
    </div>

</div>