
@{
     ViewBag.Title = "LoginPage";
     Layout = "~/Views/_LayoutPage1.cshtml";
}
<link href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css" rel="stylesheet" />
<div id="darklight" class="section">
     <!-- SECTION -->
     <div class="section">
          <!-- container -->
          <div class="container">
               <!-- row -->
               <div class="row">
               </div>
               <!-- /row -->
          </div>
          <!-- /container -->
     </div>
     <!-- /SECTION -->

     <div class="section">
          <div class="container101">
               <div class="row  justify-content-center">
                    <div class="col-12 text-center align-self-center py-5">
                         <div class="section pb-5 pt-5 pt-sm-2 text-center">
                              <div class="card-3d-wrap mx-auto">
                                   <div class="card-3d-wrapper">
                                        <div class="card-front">
                                             <div class="center-wrap">
                                                  <div class="section text-center">
                                                       <h4 class="mb-4 pb-3">Log In</h4>
                                                       <div class="form-group">
                                                            <input type="email" name="logemail" class="form-style" placeholder="Your Email" id="logemail" autocomplete="off">
                                                            <i class="input-icon uil uil-at"></i>
                                                       </div>
                                                       <div class="form-group mt-2">
                                                            <input type="password" name="logpass" class="form-style" placeholder="Your Password" id="logpass" autocomplete="off">
                                                            <i class="input-icon uil uil-lock-alt"></i>
                                                       </div>
                                                       <a href="#" class="btn mt-4">submit</a>
                                                       <p class="mb-0 mt-4 text-center"><a href="#0" class="link">Forgot your password?</a></p>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>