
@{
     ViewBag.Title = "RAM";
     Layout = "~/Views/_LayoutPage1.cshtml";
}




<div id="darklight" class="section">
     <!-- SECTION -->
     <div class="section">
          <!-- container -->
          <div class="container">
               <!-- row -->
               <div class="row">
                    <!-- ASIDE -->
                    <div id="aside" class="col-md-3">
                         <!-- aside Widget -->
                         <div class="aside">
                              <h3 class="aside-title">Capacitate memorie RAM</h3>
                              <div class="checkbox-filter">

                                   <div class="input-checkbox">
                                        <input type="checkbox" id="category-1">
                                        <label for="category-1">
                                             <span></span>
                                             1 GB
                                        </label>
                                   </div>

                                   <div class="input-checkbox">
                                        <input type="checkbox" id="category-2">
                                        <label for="category-2">
                                             <span></span>
                                             2 GB
                                        </label>
                                   </div>

                                   <div class="input-checkbox">
                                        <input type="checkbox" id="category-3">
                                        <label for="category-3">
                                             <span></span>
                                             4 GB
                                        </label>
                                   </div>

                                   <div class="input-checkbox">
                                        <input type="checkbox" id="category-4">
                                        <label for="category-4">
                                             <span></span>
                                             8 GB
                                        </label>
                                   </div>

                                   <div class="input-checkbox">
                                        <input type="checkbox" id="category-5">
                                        <label for="category-5">
                                             <span></span>
                                             16 GB
                                        </label>
                                   </div>

                                   <div class="input-checkbox">
                                        <input type="checkbox" id="category-6">
                                        <label for="category-6">
                                             <span></span>
                                             32 GB
                                        </label>
                                   </div>
                              </div>
                         </div>
                         <!-- /aside Widget -->
                         <!-- aside Widget -->
                         <div class="aside">
                              <h3 class="aside-title">Price</h3>
                              <div class="price-filter">
                                   <div id="price-slider"></div>
                                   <div class="input-number price-min">
                                        <input id="price-min" type="number">
                                        <span class="qty-up">+</span>
                                        <span class="qty-down">-</span>
                                   </div>
                                   <span>-</span>
                                   <div class="input-number price-max">
                                        <input id="price-max" type="number">
                                        <span class="qty-up">+</span>
                                        <span class="qty-down">-</span>
                                   </div>
                              </div>
                         </div>
                         <!-- /aside Widget -->
                         <!-- aside Widget -->
                         <div class="aside">
                              <h3 class="aside-title">Brand</h3>
                              <div class="checkbox-filter">
                                   <div class="input-checkbox">
                                        <input type="checkbox" id="brand-1">
                                        <label for="brand-1">
                                             <span></span>
                                             Apacer
                                        </label>
                                   </div>
                                   <div class="input-checkbox">
                                        <input type="checkbox" id="brand-2">
                                        <label for="brand-2">
                                             <span></span>
                                             Kingston
                                        </label>
                                   </div>
                                   <div class="input-checkbox">
                                        <input type="checkbox" id="brand-3">
                                        <label for="brand-1">
                                             <span></span>
                                             Transcend
                                        </label>
                                   </div>
                              </div>
                         </div>
                         <!-- /aside Widget -->
                         <!-- Viteza -->
                         <div class="aside">
                              <h3 class="aside-title">Tip</h3>
                              <div class="checkbox-filter">
                                   <div class="input-checkbox">
                                        <input type="checkbox" id="speed-1">
                                        <label for="brand-1">
                                             <span></span>
                                             DDR4
                                        </label>
                                   </div>
                                   <div class="input-checkbox">
                                        <input type="checkbox" id="speed-2">
                                        <label for="brand-2">
                                             <span></span>
                                             DDR3
                                        </label>
                                   </div>
                                   <div class="input-checkbox">
                                        <input type="checkbox" id="speed-3">
                                        <label for="brand-2">
                                             <span></span>
                                             DDR5
                                        </label>
                                   </div>
                              </div>
                         </div>
                         <!-- /Viteza -->
                         <!-- aside Widget -->
                         <div class="aside">
                              <h3 class="aside-title">frecventa</h3>
                              <div class="checkbox-filter">
                                   <div class="input-checkbox">
                                        <input type="checkbox" id="frecventa-1">
                                        <label for="brand-1">
                                             <span></span>
                                             3200 MHz
                                        </label>
                                   </div>
                                   <div class="input-checkbox">
                                        <input type="checkbox" id="frecventa-2">
                                        <label for="brand-2">
                                             <span></span>
                                             1666 MHz
                                        </label>
                                   </div>
                                   <div class="input-checkbox">
                                        <input type="checkbox" id="frecventa-3">
                                        <label for="brand-1">
                                             <span></span>
                                             1600 MHz
                                        </label>
                                   </div>
                              </div>
                         </div>
                         <!-- /Frecventa -->
                         <!-- aside Widget -->
                         <div class="aside">
                              <h3 class="aside-title">Top selling</h3>
                              <div class="product-widget">
                                   <div class="product-img">
                                        <img src="~/img/product01.png" alt="">
                                   </div>
                                   <div class="product-body">
                                        <p class="product-category">Category</p>
                                        <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                        <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                   </div>
                              </div>

                              <div class="product-widget">
                                   <div class="product-img">
                                        <img src="~/img/product02.png" alt="">
                                   </div>
                                   <div class="product-body">
                                        <p class="product-category">Category</p>
                                        <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                        <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                   </div>
                              </div>

                              <div class="product-widget">
                                   <div class="product-img">
                                        <img src="~/img/product03.png" alt="">
                                   </div>
                                   <div class="product-body">
                                        <p class="product-category">Category</p>
                                        <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                        <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                   </div>
                              </div>
                         </div>
                         <!-- /aside Widget -->
                    </div>
                    <!-- /ASIDE -->
                    <!-- STORE -->
                    <div id="store" class="col-md-9">
                         <!-- store top filter -->
                         <div class="store-filter clearfix">
                              <div class="store-sort">
                                   <label>
                                        Sort By:
                                        <select class="input-select">
                                             <option value="0">Popular</option>
                                             <option value="1">Position</option>
                                        </select>
                                   </label>

                                   <label>
                                        Show:
                                        <select class="input-select">
                                             <option value="0">20</option>
                                             <option value="1">50</option>
                                        </select>
                                   </label>
                              </div>
                              <ul class="store-grid">
                                   <li class="active"><i class="fa fa-th"></i></li>
                                   <li><a href="#"><i class="fa fa-th-list"></i></a></li>
                              </ul>
                         </div>
                         <!-- /store top filter -->
                         <!-- store products -->
                         <div class="row">
                              <!-- product -->
                              <div class="col-md-4 col-xs-6">
                                   <div class="product">
                                        <div class="product-img">
                                             <img src="~/img/RAM-01.png" alt="">
                                             <div class="product-label">
                                             </div>
                                        </div>
                                        <div class="product-body">
                                             <p class="product-category">Category</p>
                                             <h3 class="product-name"><a href="#">Memorie RAM 8 GB Apacer AU08GGB24CETBGH, DDR4, 21300 Mbps, 2666 MHz</a></h3>
                                             <h4 class="product-price">$27.54 <del class="product-old-price">$31.87</del></h4>
                                             <div class="product-rating">
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star"></i>
                                             </div>
                                             <div class="product-btns">
                                                  <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                                  <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                                  <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                             </div>
                                        </div>
                                        <div class="add-to-cart">
                                             <button class="add-to-cart-btn">
                                                  <i class="fa fa-shopping-cart"></i> @Html.ActionLink("add to card", "checkout")



                                             </button>
                                        </div>
                                   </div>
                              </div>
                              <!-- /product -->
                              <!-- product -->
                              <div class="col-md-4 col-xs-6">
                                   <div class="product">
                                        <div class="product-img">
                                             <img src="~/img/RAM-02.png" alt="">
                                             <div class="product-label">
                                                  <span class="new">NEW</span>
                                             </div>
                                        </div>
                                        <div class="product-body">
                                             <p class="product-category">Category</p>
                                             <h3 class="product-name"><a href="#">Memorie RAM 8 GB Kingston FURY Beast KF426C16BB/ 8, DDR4, 21300, 2666 MHz</a></h3>
                                             <h4 class="product-price">$36.20 <del class="product-old-price">$45.40</del></h4>
                                             <div class="product-rating">
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star-o"></i>
                                             </div>
                                             <div class="product-btns">
                                                  <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                                  <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                                  <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                             </div>
                                        </div>
                                        <div class="add-to-cart">
                                             <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                        </div>
                                   </div>
                              </div>
                              <!-- /product -->

                              <div class="clearfix visible-sm visible-xs"></div>

                              <!-- product -->
                              <div class="col-md-4 col-xs-6">
                                   <div class="product">
                                        <div class="product-img">
                                             <img src="~/img/RAM-03.png" alt="">
                                        </div>
                                        <div class="product-body">
                                             <p class="product-category">Category</p>
                                             <h3 class="product-name"><a href="#">Memorie RAM 8 GB Transcend JM3200HSB-8GB, DDR4, pentru Laptop, 3200 MHz</a></h3>
                                             <h4 class="product-price">$27.54 <del class="product-old-price">$31.87</del></h4>
                                             <div class="product-rating">
                                             </div>
                                             <div class="product-btns">
                                                  <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                                  <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                                  <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                             </div>
                                        </div>
                                        <div class="add-to-cart">
                                             <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                        </div>
                                   </div>
                              </div>
                              <!-- /product -->

                              <div class="clearfix visible-lg visible-md"></div>

                              <!-- product -->
                              <div class="col-md-4 col-xs-6">
                                   <div class="product">
                                        <div class="product-img">
                                             <img src="~/img/RAM-04.png" alt="">
                                        </div>
                                        <div class="product-body">
                                             <p class="product-category">Category</p>
                                             <h3 class="product-name"><a href="#">Memorie RAM 16 GB Apacer AU04GGB26CQTBGH, DDR4, 21300 Mbps, 2666 MHz</a></h3>
                                             <h4 class="product-price">$51.36 <del class="product-old-price">$61.64</del></h4>
                                             <div class="product-rating">
                                             </div>
                                             <div class="product-btns">
                                                  <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                                  <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                                  <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                             </div>
                                        </div>
                                        <div class="add-to-cart">
                                             <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                        </div>
                                   </div>
                              </div>
                              <!-- /product -->

                              <div class="clearfix visible-sm visible-xs"></div>

                              <!-- product -->
                              <div class="col-md-4 col-xs-6">
                                   <div class="product">
                                        <div class="product-img">
                                             <img src="~/img/RAM-05.png" alt="">
                                        </div>
                                        <div class="product-body">
                                             <p class="product-category">Category</p>
                                             <h3 class="product-name"><a href="#">Memorie RAM 16 GB Kingston FURY Beast KF432C16BB1/ 16, DDR4, 25600 Mbps, 3200 MHz</a></h3>
                                             <h4 class="product-price">$66.51 <del class="product-old-price">$85.45</del></h4>
                                             <div class="product-rating">
                                             </div>
                                             <div class="product-btns">
                                                  <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                                  <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                                  <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                             </div>
                                        </div>
                                        <div class="add-to-cart">
                                             <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                        </div>
                                   </div>
                              </div>
                              <!-- /product -->
                              <!-- product -->
                              <div class="col-md-4 col-xs-6">
                                   <div class="product">
                                        <div class="product-img">
                                             <img src="~/img/RAM-06.png" alt="">
                                        </div>
                                        <div class="product-body">
                                             <p class="product-category">Category</p>
                                             <h3 class="product-name"><a href="#">Memorie RAM 32 GB Kingston FURY Beast RGB KF432C16BB1AK2/ 32, DDR4, 25600 Mbps, 3200 MHz</a></h3>
                                             <h4 class="product-price">$146.60 <del class="product-old-price">$185.02</del></h4>
                                             <div class="product-rating">
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star-o"></i>
                                             </div>
                                             <div class="product-btns">
                                                  <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                                  <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                                  <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                             </div>
                                        </div>
                                        <div class="add-to-cart">
                                             <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                        </div>
                                   </div>
                              </div>
                              <!-- /product -->

                              <div class="clearfix visible-lg visible-md visible-sm visible-xs"></div>

                              <!-- product -->
                              <div class="col-md-4 col-xs-6">
                                   <div class="product">
                                        <div class="product-img">
                                             <img src="~/img/RAM-07.png" alt="">
                                        </div>
                                        <div class="product-body">
                                             <p class="product-category">Category</p>
                                             <h3 class="product-name"><a href="#">Memorie RAM 8 GB Apacer AS08GFA60CATBGC, pentru Laptop, DDR3, 12800 Mbps, 1600 MHz</a></h3>
                                             <h4 class="product-price">$45.94 <del class="product-old-price">$56.23</del></h4>
                                             <div class="product-rating">
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star"></i>
                                             </div>
                                             <div class="product-btns">
                                                  <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                                  <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                                  <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                             </div>
                                        </div>
                                        <div class="add-to-cart">
                                             <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                        </div>
                                   </div>
                              </div>
                              <!-- /product -->
                              <!-- product -->
                              <div class="col-md-4 col-xs-6">
                                   <div class="product">
                                        <div class="product-img">
                                             <img src="~/img/RAM-08.png" alt="">
                                        </div>
                                        <div class="product-body">
                                             <p class="product-category">Category</p>
                                             <h3 class="product-name"><a href="#">Memorie RAM 16 GB Apacer, pentru Laptop, DDR4, 2666 MHz</a></h3>
                                             <h4 class="product-price">$51.36 <del class="product-old-price">$61.64</del></h4>
                                             <div class="product-rating">
                                             </div>
                                             <div class="product-btns">
                                                  <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                                  <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                                  <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                             </div>
                                        </div>
                                        <div class="add-to-cart">
                                             <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                        </div>
                                   </div>
                              </div>
                              <!-- /product -->

                              <div class="clearfix visible-sm visible-xs"></div>

                              <!-- product -->
                              <div class="col-md-4 col-xs-6">
                                   <div class="product">
                                        <div class="product-img">
                                             <img src="~/img/RAM-09.png" alt="">
                                        </div>
                                        <div class="product-body">
                                             <p class="product-category">Category</p>
                                             <h3 class="product-name"><a href="#">Memorie RAM 16 GB Kingston FURY Renegade RGB KF432C16RBAK2/ 16, DDR4, 25600 Mbps, 3200 MHz</a></h3>
                                             <h4 class="product-price">$101.68 <del class="product-old-price">$121.71</del></h4>
                                             <div class="product-rating">
                                             </div>
                                             <div class="product-btns">
                                                  <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                                  <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                                  <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                             </div>
                                        </div>
                                        <div class="add-to-cart">
                                             <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                        </div>
                                   </div>
                              </div>
                              <!-- /product -->
                         </div>
                         <!-- /store products -->
                    </div>
                    <!-- /STORE -->
               </div>
               <!-- /row -->
          </div>
          <!-- /container -->
     </div>
     <!-- /SECTION -->
     <!-- NEWSLETTER -->
     <div id="newsletter" class="section">
          <!-- container -->
          <div class="container">
               <!-- row -->
               <div class="row">
                    <div class="col-md-12">
                         <div class="newsletter">
                              <p>Sign Up for the <strong>NEWSLETTER</strong></p>
                              <form>
                                   <input class="input" type="email" placeholder="Enter Your Email">
                                   <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
                              </form>
                              <ul class="newsletter-follow">
                                   <li>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                   </li>
                                   <li>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                   </li>
                                   <li>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                   </li>
                                   <li>
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                   </li>
                              </ul>
                         </div>
                    </div>
               </div>
               <!-- /row -->
          </div>
          <!-- /container -->
     </div>
     <!-- /NEWSLETTER -->
</div>